.photo-grid {
    margin: auto;
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
  }
  
  @media screen and (max-width: 1279px) {
    .photo-grid {
      max-width: 90.625vw;
      grid-template-columns: repeat(3, auto);
      gap: 14px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .photo-grid {
      max-width: max(93.75vw, 288px);
      grid-template-columns: repeat(2, auto);
      gap: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .photo-grid {
      grid-template-columns: auto;
      gap: 12px;
      max-width: max(90vw, 288px);
    }
  }