.lead__title {
    margin: 0 auto 32px;
    max-width: 720px;
    color: #fff;
    font-family: 'Inter', Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .lead__title {
      font-size: max(12.5vw, 40px);
      line-height: 1.1;
      max-width: max(93.75vw, 288px);
      margin-bottom: max(4.2vw, 16px);
    }
  }